<section class="artists" id="artists">
  <div class="container">
    <h2 class="title-artist-list">Artists</h2>
    <h3 class="subtitle-artists-list">Explore Your New Favorite Artists</h3>

    <ul class="artists-list"></ul>

    <div class="loader is-hidden"></div>

    <button class="load-more-btn is-hidden" type="button">
      Load More <svg class="SVG-icon" width="24" height="16">
        <use href=" /img/icon-sprite.svg#icon-down-arrow-alt"></use>
      </svg>
    </button>
  </div>
</section>