<section class="feedback" id="reviews">
  <div class="container">
    <h1 class="visually-hidden">Feedbacks our visitors</h1>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <button type="button" class="leave-feedback-btn">Leave feedback</button>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
