<footer class="footer">
  <div class="container footer-container">
    <div class="up-footer">
      <a class="logo-footer" href="#"><img src="./logo-footer.svg" alt="logo-footer"></a>
      <nav>
        <ul class="link-list">
          <li><a href="">Artists</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Reviews</a></li>
        </ul>
      </nav>
    </div>
    <div class="down-footer">
      <ul class="media-list">
        <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="./media40x40.svg"
              alt="facebook"></a>
        </li>
        <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="./media40x40.svg"
              alt="instagram"></a>
        </li>
        <li><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img src="./media40x40.svg"
              alt="youtube"></a>
        </li>
      </ul>
      <p>© 2026 ArtistsHub. All rights reserved.</p>
    </div>
  </div>
</footer>