<footer class="footer">
  <div class="container footer-container">
    <div class="up-footer">
      <a class="logo-footer" href="#">
        <svg class="SVG-icon-purple" width="107" height="31">
          <use href="/img/icon-sprite.svg#icon-logo-text"></use>
        </svg>
      </a>
      <nav>
        <ul class="link-list">
          <li><a href="#artists">Artists</a></li>
          <li><a href="#about">About us</a></li>
          <li><a href="#reviews">Reviews</a></li>
        </ul>
      </nav>
    </div>
    <div class="down-footer">
      <ul class="media-list">
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="SVG-icon" width="24" height="16">
              <use href="/img/icon-sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="SVG-icon" width="24" height="16">
              <use href="/img/icon-sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="SVG-icon" width="24" height="16">
              <use href="/img/icon-sprite.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
      <p>
        <svg class="SVG-icon" width="24" height="16">
          <use href="/img/icon-sprite.svg#icon-icon-copyright"></use>
        </svg>
        2026 Code & Canvas. <span>All rights reserved.</span>
      </p>
    </div>
  </div>
</footer>
