<footer class="footer">
  <div class="container footer-container">
    <div class="up-footer">
      <a class="logo-footer" href="#"><img src="./img/logo-purple.svg" alt="logo-footer"></a>
      <nav>
        <ul class="link-list">
          <li><a href="">Artists</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Reviews</a></li>
        </ul>
      </nav>
    </div>
    <div class="down-footer">
      <ul class="media-list">
        <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="./img/facebook.svg"
              alt="facebook"></a>
        </li>
        <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img
              src="./img/instagram.svg" alt="instagram"></a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="./img/youtube.svg" alt="youtube"></a>
        </li>
      </ul>
      <p>© 2026 [Назва Проєкту]. <span>All rights reserved.</span></p>
    </div>
  </div>
</footer>