<div class="header-wrapper">
  <header class="header">
    <div class="container header__container">
      <!-- logo -->

      <div class="header__logo header__logo-white">
        <a
          href="index.html"
          aria-label="Go to homepage"
          class="header__logo-link"
          ><svg class="SVG-icon" width="107" height="31">
            <use href="/img/icon-sprite.svg#icon-logo-text"></use></svg
        ></a>
      </div>

      <div class="header__logo header__logo-purple">
        <a
          href="index.html"
          aria-label="Go to homepage"
          class="header__logo-link"
          ><svg class="SVG-icon-purple" width="107" height="31">
            <use href="/img/icon-sprite.svg#icon-logo-text"></use></svg
        ></a>
      </div>
      <!-- Mobile menu toggle-->
      <button
        class="burger js-open-menu"
        type="button"
        aria-label="mobile-menu"
      >
        <span class="burger__icon-wrapper">
          <svg class="SVG-icon" width="24" height="16">
            <use href="/img/icon-sprite.svg#icon-menu-alt-right"></use>
          </svg>
        </span>
      </button>

      <!-- mobile menu -->

      <div class="mobile-menu js-menu">
        <div class="mobile-menu__header">
          <div class="mobile-menu__logo">
            <a
              href="index.html"
              aria-label="Go to homepage"
              class="header__logo-link"
              ><svg class="SVG-icon-purple" width="116" height="31">
                <use href="/img/icon-sprite.svg#icon-logo-text"></use></svg
            ></a>
          </div>
          <button
            class="mobile-menu__close js-close-menu"
            type="button"
            aria-label="Close menu"
          >
            <span class="mobile-menu__icon-wrapper">
              <svg class="SVG-icon" width="24" height="16">
                <use href="/img/icon-sprite.svg#icon-close"></use>
              </svg>
            </span>
          </button>
        </div>
        <nav class="mobile-menu__nav" aria-label="Mobile navigation">
          <ul class="mobile-menu__list">
            <li><a href="#artists" class="mobile-menu__link">Artists</a></li>
            <li><a href="#about" class="mobile-menu__link">About us</a></li>
            <li><a href="#reviews" class="mobile-menu__link">Reviews</a></li>
          </ul>
        </nav>
      </div>
      <!-- navigation desktop-->
      <nav class="nav" aria-label="Main navigation">
        <ul class="nav__list">
          <li><a href="#artists" class="nav__link">Artists</a></li>
          <li><a href="#about" class="nav__link">About us</a></li>
          <li><a href="#reviews" class="nav__link">Reviews</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
