<section class="hero">
  <div class="container">
      <div class="hero__content">
        <h1 class="hero__title">Discover Your Next Favorite Artist Today</h1>

        <p class="hero__text">
          Dive into a world of music discoveries with ArtistsHub – your personal
          guide to the boundless universe of sound. Explore, filter, and learn
          about your favorite artists all in one place.
        </p>
        <div class="hero__button-container">
          <a class="hero__btn" href="#artists">
            Explore Artists
            <img
              class="hero__btn-icon"
              src="../img/hero/icon.svg"
              alt="icon arrow"
            />
          </a>
        </div>
      </div>
      <div class="hero__gallery"></div>
  </div>

  <div class="top-shadow"></div>
  <div class="bottom-shadow"></div>
</section>
