artists {
  padding-top: 112px;
  padding-right: 64px;
  padding-bottom: 112px;
  padding-left: 64px;
  gap: 80px;
  color: rgba(6, 3, 7, 1);
  width: 1440px;
  height: 3095.77px;
}

title-artist-list {
  border-radius: 16px;
  padding: 16px 8px;
  width: 50px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: 'IBM Plex Sans', sans-serif;
}

subtitle-artists-list {
  border-radius: 16px;
  padding: 16px 8px;
  width: 523px;
  height: 144px;
  gap: 24px;
  font-family: 'Epilogue';
  color: rgba(255, 255, 255, 1);
  display: none;
}

artist-bio {
  width: 640px;
  height: 54px;

  font-family: 'IBM Plex Sans';
  color: rgba(255, 255, 255, 1);
}
artist-img {
  width: 640px;
  height: 393.44px;
  border-radius: medium;
}
artists-name {
  width: 640px;
  height: 42px;
  font-family: 'Epilogue';
}
learn-more-btn {
  width: 93px;
  height: 27px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgba(255, 255, 255, 1);
}
artist-info {
  width: 640px;
  height: 152px;
  gap: 16px;
}
