.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.artists {
  padding: 112px 0;
  /* gap: 80px; */
  /* color: rgba(6, 3, 7, 1); */
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}

.title-artist-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.subtitle-artists-list {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -0.01em;
  max-width: 523px;
}



.artist-item {
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
  background-color: rgba(6, 3, 7, 1);
  display: block;
  height: auto;
  overflow: visible;
}

.artist-item:hover .artist-img {
  transform: scale(1.03);
}

.artist-img {
  /* display: block; */
  width: 100%;
  /* height: auto; */
  border-radius: 16px;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 640 / 393;
  transition: transform 0.3s ease;
}

.artists-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

/* @media (min-width: 14400px) {
  .artists-list {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* .artist-bio {
  line-height: 1, 5;
  font-family: 'IBM Plex Sans';
  color: rgba(255, 255, 255, 1);
} */

/* .artists-name {
  font-family: 'Epilogue';
  width: 100%;
} */

.artist-info {
  padding-top: 24px;

  /* color: rgba(255, 255, 255, 1); */
  /* padding: 16px; */
  /* flex-direction: column; */
  /* gap: 8px; */
  /* padding-bottom: 20px; */
  /* flex-direction: column; */
  /* display: flex; */
  ul {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    li {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      padding-block: 4px;
      padding-inline: 10px;

      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }
  }

  h3 {
    font-family: "Epilogue", sans-serif;
    /* font-weight: 700; */
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
  }
}





.learn-more-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 125px; */
  /* height: 27px; */
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.load-more-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 24px;
  border-radius: 12px;
  display: flex;
  background: rgba(118, 65, 145, 1);
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.load-more-btn:hover {
  transform: scale(1.05);
  background: rgba(98, 52, 122, 1);
}

.load-more-btn :active {
  transform: scale(0.97);
  background: rgba(85, 45, 105, 1);
}

/* .load-more-btn::after {
  content: '';
  width: 16px;
  height: 16px;
} */