

.artists
 {
padding: 112px 64px;
gap: 80px;
color:rgba(6, 3, 7, 1) ;
max-width: 1440px;
margin: 0 auto;
}


.title-artist-list
{
border-radius: 16px;
padding: 16px 8px;
width: 50px;
line-height: 24px;
color: rgba(255, 255, 255, 1);
font-family:"IBM Plex Sans",sans-serif ;


}

.subtitle-artists-list
{
border-radius: 16px;
padding: 16px 8px;
width: 523px;
line-height: 144px;
gap: 24px;
font-family:"Epilogue" ;
color:rgba(255, 255, 255, 1) ;
     display: none;
}

.artist-bio
{
    width: 640px;
    line-height: 54px;

font-family: "IBM Plex Sans";
color:rgba(255, 255, 255, 1) ;

}
.artist-img
{
width: 640px;
height: 393px;
border-radius: 16px;
}
.artists-name
{
width: 640px;
height: 42px;
font-family:"Epilogue" ;
}
.learn-more-btn
{
   width: 93px;
   height: 27px;
   font-family:"IBM Plex Sans",sans-serif ; 
color: rgba(255, 255, 255, 1);
}
.artist-info
{
    width: 640px;
    height: 152px;
   display: flex;
}
