

.artists
 {
padding: 112px 64px;
gap: 80px;
color:rgba(6, 3, 7, 1) ;
max-width: 1440px;
margin: 0 auto;
}



.container
{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}


.title-artist-list
{
border-radius: 16px;
padding: 16px 8px;
width: 50px;
line-height: 24px;
color: rgba(255, 255, 255, 1);
font-family:"IBM Plex Sans",sans-serif ;
}



.subtitle-artists-list
{
   font-family: "Epilogue", sans-serif;
   font-weight: 700;
   font-size: 60px;
   line-height: 1.2;
   letter-spacing: -0.01em;
   color: rgba(255,255,255,1);
   max-width: 523px; 
   margin-bottom: 40px;
}


.genres {
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;

  padding: 4px 10px;
  margin-top: 12px;

  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0);

  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255,255,255,1);
}



.artist-item
{
 transition: transform 0.3s ease, box-shadow 0.3s ease;   
 border-radius: 20px;
 background-color:rgba(6, 3, 7, 1);
 display: block;
 height: auto;
 overflow: visible;
}



.artist-item:hover
{
      transform: scale(1.03);   
}



.artist-img
{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
aspect-ratio: 640 / 393;    
display: block;
object-position: center 30%;
}

.artists-list
{
     display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}





.artist-bio
{
line-height: 1,5;
font-family: "IBM Plex Sans";
color:rgba(255, 255, 255, 1) ;

}



.artists-name
{
font-family:"Epilogue" ;
width: 100%;
}




.artist-info
{
    color:rgba(255, 255, 255, 1);
    padding: 16px;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
   display: flex;
}



.learn-more-btn {
   height: 27px;
width: 125px;
  background: transparent;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255,255,255,1);
}


/*
.learn-more-btn::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/caret-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
*/


  .load-more-btn
   {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 24px;
  border-radius: 12px;
  background: rgba(118, 65, 145, 1);
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: transform 0.2s ease;
  background-repeat: no-repeat;
  background-position: center;
}



.load-more-btn:hover
{
transform: scale(1.05);
 background: rgba(98, 52, 122, 1);
}



.load-more-btn :active
{
 transform: scale(0.97);
  background: rgba(85, 45, 105, 1);
}


/*
.load-more-btn::after {
  content: "";
  width: 16px;
  height: 16px;

  background-image: url(../img/down-arrow-alt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
*/
