:root {
  --font-main: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  --color-text: #ffffff;
  --color-bg: #060307;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--color-text);
  background: var(--color-bg);
}


/* scroll header */

section {
  scroll-margin-top: 72px;
}

.no-scroll {
  overflow: hidden;       
}

html,body {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}