footer {
  padding: 48px 0;

  @media screen and (min-width: 768px) {
    padding: 80px 0;
  }

  @media screen and (min-width: 1440px) {
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media screen and (min-width: 768px) {
    gap: 80px;
  }

  @media screen and (min-width: 1440px) {
  }
}

.up-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;

  li > a {
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    transition: 200ms opacity ease-in-out;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.2;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1440px) {
  }
}

.down-footer {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 16px;
  gap: 32px;
  border-top: solid 1px #ededed;

  p {
    line-height: 150%;
    text-align: center;

    span {
      display: inline-block;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1440px) {
  }
}

.media-list {
  display: flex;
  gap: 32px;
  align-self: center;

  li > a > svg {
    width: 40px;
    height: 40px;
    transition: 200ms scale ease-in-out;

    &:hover {
      scale: 1.2;
    }

    &:active {
      scale: 0.9;
    }
  }

  @media screen and (min-width: 768px) {
    gap: 24px;

    li > a > svg {
      width: 32px;
      height: 32px;
    }
  }

  @media screen and (min-width: 1440px) {
    li > a > svg {
      width: 24px;
      height: 24px;
    }
  }
}

/* лого стайл */
.SVG-icon-purple {
  fill: rgba(118, 65, 145, 1);
}
