/* Header*/
.header-wrapper {
  min-height: 72px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  background-color: #060307;

  @media screen and (min-width: 768px) {
    height: 72px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 12px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

/* logo */
.header__logo-link {
  width: 119px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.header__logo-white {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__logo-purple {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* burger*/

.burger {
  background-color: currentColor;
  border: none;
  background: none;

  align-items: center;
  justify-content: center;

  height: 48px;
  width: 48px;
  padding: 0px;
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger__icon-wrapper img {
  width: 100%;
  height: 100%;
}

.burger__icon-wrapper {
  width: 24px; 
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
}

.burger {
  &:hover .burger__icon-wrapper {
    background-color: rgba(255, 255, 255, 0.12);
  }
  &:active .burger__icon-wrapper {
    background-color: rgba(255, 255, 255, 0.06);
  }
}

/* mobile-menu */

.mobile-menu__icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
}

.mobile-menu__close {
  &:hover .mobile-menu__icon-wrapper {
    background-color: rgba(255, 255, 255, 0.12);
  }
  &:active .mobile-menu__icon-wrapper {
    background-color: rgba(255, 255, 255, 0.06);
  }
}

.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: #060307;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;

  transform: translateY(0);
  transition:
    opacity 0.3s ease,
    transform 0.2s ease;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu.closing {
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.4s ease,
    transform 0.2s ease;
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 12px;
  margin: 0 auto;
  max-width: 320px;
  height: 64px;
}

.mobile-menu__close {
  background: none;
  border: none;
  width: 48px;
  height: 48px;
  background-color: currentColor;
  align-items: center;
  justify-content: center;
  padding: 0px;
  display: flex;
}

.mobile-menu__nav {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 39px;
  flex-direction: column;

  @media screen and(min-width:768px) {
    display: none;
  }
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu__link {
  width: 109px;
  display: inline-flex;
  justify-content: center;
  align-items:center;
  text-align: center;

  font-size: 26px;
  font-weight: 500;
  line-height: 150%;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

/* navigation */
.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.nav__link {
  display: inline-flex;
align-items: center;
justify-content: center;
  text-align: center;
  
height: 27px;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.2;
  }
}
