.feedback-btn__container {
  margin-top: 16px;
}

.leave-feedback-btn,
#submit-feedback {
  width: 100%;
  display: flex;

  justify-content: center;
  max-width: 340px;
  margin: 0 auto;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;

  border-radius: 12px;
  padding: 10px;

  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s ease;
}


@media screen and (min-width: 768px) {
  .leave-feedback-btn {
    max-width: 158px;
  }
}

@media screen and (min-width: 1440px) {
  .leave-feedback-btn {
    min-width: 177px;
  }
}

.leave-feedback-btn:hover {
  opacity: 0.6;
}

.leave-feedback-btn:active {
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05);
}

.leave-feedback-btn.is-disabled {
  opacity: 0.2;
  pointer-events: none;
}

.leave-feedback-btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.feedback-modal {
  max-width: 100%;
  box-sizing: border-box;
  padding: 64px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  border-radius: 16px;

  background: #060307;
}

.feedback-modal-content h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  color: #fff;
}


/* --------------------------------- */

.feedback-form {
  max-width: 768px;
  margin: 0 auto;
}

.form-title {
  margin-bottom: clamp(0rem, -2.1429rem + 10.7143vw, 3rem);
}

.feedback-modal { margin: 0 auto ;}

.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#rating {
  margin: 0 auto;

  display: flex;
  justify-content: left;
}

#rating > img {
  width: 30px;
  height: auto;
}

#feedback-message {
  height: 130px;
}

.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.feedback-modal-content,
.form-container > * {
  width: 100%;
}



