.modal-wraper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.m-a-img {
  min-width: 272px;
  height: 167.21px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);

  @media screen and (min-width: 768px) {
    min-width: 654px;
    height: 402.05px;
  }
  @media screen and (min-width: 1440px) {
    min-width: 576px;
    height: 354.1px;
  }
}
.m-a-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
  flex-basis: 100%;
  margin-bottom: 48px;
  display: block;
}

.desc-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.desc-box {
  display: flex;
  flex-direction: column;
}
.info-wraper {
  display: flex;
  gap: 24px;
}
.m-a-info-biography {
  height: 135px;
  overflow-y: auto;
  overflow-x: hidden;
}

.m-a-info-biography::-webkit-scrollbar {
  width: 4px;
}

.m-a-info-biography::-webkit-scrollbar-track {
  background: transparent;
}

.m-a-info-biography::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.m-a-info-biography::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

.m-a-info-biography {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
.m-a-topic {
  font-weight: 600;
}
.m-a-genres-container {
  display: flex;
  gap: 16px;
}
.m-a-genre {
  font-weight: 600;
  font-size: 16px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.m-a-albums-topic {
  margin-bottom: 16px;
  line-height: 130%;
  font-weight: 700;
  font-size: 24px;
}

.m-a-albums {
  display: flex;
  gap: 32px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.m-a-album-item {
  background-color: rgba(30, 28, 31, 1);
  border-radius: 16px;
  padding: 14px 11px;

  @media screen and (min-width: 767px) {
    flex: 0 0 calc(50% - 16px);
  }

  @media screen and (min-width: 1440px) {
    flex: 0 0 calc(25% - 24px);
  }
}

.m-a-album-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 12px;
  display: flex;
}
.m-a-album-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

.m-a-track-names {
  gap: 8px;
  font-size: 8px;
  font-weight: 600;
}
.info-container {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    62px
    22px;
  padding: 0 12px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    grid-template-columns:
      minmax(0, 1fr)
      76px
      32px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns:
      minmax(0, 1fr)
      76px
      32px;
  }
}
.m-a-track-row {
  font-weight: 400;
  font-size: 12px;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    70px
    28px;
  border-radius: 8px;
  padding: 8px 0px;

  @media screen and (min-width: 768px) {
    grid-template-columns:
      minmax(0, 1fr)
      84px
      38px;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns:
      minmax(0, 1fr)
      80px
      40px;
  }
}

.m-a-track-row:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.04);
}

.m-a-track-name {
  padding-left: 12px;
  padding-right: 16px;
  overflow: hidden;
}

.artist-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior: contain;

  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal-content {
  position: relative;

  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  padding: 52px 8px;
  overflow-y: auto;

  max-width: 288px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);

  @media screen and (min-width: 768px) {
    max-width: 702px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1312px;
  }
}

/* BUTTON */
.modal-close-btn-wraper {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0);

  @media screen and (min-width: 768px) {
    right: 47px;
  }

  @media screen and (min-width: 1440px) {
    right: 16px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.06);
  }
}

.modal-close-btn {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.close-modal-btn {
  width: 14.06px;
  height: 14.06px;
}
