@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./loader.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./artists.css');
@import url('./about.css');
@import url('./feedback.css');
@import url('./leave-feedback.css');
@import url('./footer.css');
